{% extends '../base.html' %}

{% block title %}
{{ post.title }}
{% endblock %}

{% block content %}

<div class="content">
    <div class="pd-main">
        <div class="container">
            <a href="{% url 'homePage' %}">Back</a>
            <h1>{{ post.title }}</h1>
            {% if post.image %}
            <div style="width: 100%;">
                <img src="{{ post.image }}" alt="{{ post.title }}">
            </div>
            {% else %}
            <span></span>
            {% endif %}
            <p>{{ post.content }}</p>
            <p class="postdate">{{ post.postDate }}</p>
            <a href="{% url 'editPost' pk=post.pk %}" class="postedit">Edit</a>
            <a href="{% url 'deletePost' pk=post.pk %}" class="postedit">Delete</a>
        </div>
    </div>
</div>

{% endblock %}