{% load static %}
<!doctype html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static './css/style.css' %}">
    <link rel="shortcut icon" href="{% static './img/SiteIcon.webp' %}" type="image/x-icon">
</head>
<body>
<header class="header" id="header" style="padding-bottom: 15px;">
    <div class="container">
        <a id="burger-menu-button" class="burger-menu-button" onclick="burgerMenuAction()"><img
                src="{% static './img/butterfly_menu_icon.webp' %}" width="45px" height="45px"></a>
        <div class="menu-list">
            <img src="{% static './img/butterfly_menu_icon.webp' %}" width="60px">
            <a href="{% url 'homePage' %}">Main</a>
            <a href="{% url 'aboutPage' %}">About</a>
            <a href="{% url 'allNews' %}" class="allNewsBtn">All News</a>
            <a href="{% url 'addPost' %}">Add Post</a>
            <a href="https://candybox2.github.io/candybox/" target="_blank">For Fun</a>
        </div>
        <div class="menu-list-right">
            <a id="SignUpBtn">Sign Up</a>
            <a id="LogInBtn">Log In</a>
        </div>
        <div class="mobile-menu-list" id="mobile-menu-list" style="display: none;">
            <a href="{% url 'homePage' %}">Main</a>
            <a href="{% url 'aboutPage' %}">About</a>
            <a href="https://candybox2.github.io/candybox/" target="_blank">For Fun</a>
        </div>
    </div>
</header>

{% block content %}
{% endblock %}

<footer class="footer">
    <div class="container">
        <p>&copy;Wangsheng Funeral Parlor</p>
    </div>
</footer>
<form>
    <div id="Modal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <p class="modal-sign-up" onclick="SignUpFun()">Sign Up</p>
            <p class="modal-log-in" onclick="SignUpFun()">Log In</p>
        </div>
        <div class="modal-body">
            <div class="signup-content" id="signup-content" style="display: block;">
                <label for="mname">First name</label><br>
                <input type="text" name="SignUpName" placeholder="Enter the name"><br>
                <label for="memail">Email</label><br>
                <input type="email" name="SignUpEmail" placeholder="Enter the email"><br>
                <label for="mpassword">Password</label><br>
                <input type="password" name="SignUpPassword" placeholder="Enter the password"><br>
            </div>
            <div class="login-content" id="login-content" style="display: none;">
                <label for="mname">First name/Email</label><br>
                <input type="text" name="LogInName" placeholder="Enter the name/email"><br>
                <label for="mpassword">Password</label><br>
                <input type="password" name="LogInPassword" placeholder="Enter the password"><br>
            </div>
            <button type="submit">Sign Up</button>
        </div>
    </div>
    </div>
</form>

<script src="{% static './js/script.js' %}"></script>
</body>
</html>