{% extends 'base.html' %}

{% block title %}
All News
{% endblock %}

{% block content %}

<div class="content">
    <div class="news">
        <div class="container">
            <h2>All News</h2>
            {% for post in posts %}
            <div class="card">
                <h3 class="card-title">{{ post.title }}</h3>
                <h4 class="card-date">{{ post.postDate }}</h4>
                <p class="card-content">{{ post.content|truncatewords:20 }}</p>
                <a href="{% url 'postDetail' pk=post.pk %}" class="main-button">More</a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}